// Layout

.content {
    .section_one {

        @include flexLeft(column, unset);
        
        height: 785px;
        background-image: url("https://i.imgur.com/dKw9Z0w.jpg");
        background-repeat: no-repeat;
        margin-top: -100px;
        color: white;
        height: -200px;
    }

    .section_two {

        @include flexRight(column, unset);

        height: 940px;
        background-image: url("https://i.imgur.com/1YdljcL.jpg");
        background-repeat: no-repeat;
        color: white;
    }   
}