// State

a:hover {
    background-color: rgb(3, 103, 166);
    transition-duration: 1s;
    transition-timing-function: ease;
}

a#currentPg.active  {
    background-color: rgb(3, 103, 166); 
}

h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

button:focus {
    outline: 0;
}

input[type=submit]:hover {
    background-color: rgb(3, 103, 166);
  }